form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#tweet-text {
  border-bottom: 5px solid black;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  background-color: #f4f1ec;
  padding-bottom: 20px;
  height: 35px;

}

label {
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}
.new-tweet {
  display: flex;
  width: 100%;
  justify-content: center;
}

div.below-tweet {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

